.App {
  text-align: center;
}
.page{
  background-color: rgb(22, 160, 133);
  height: 100vh;
}
.title{
  padding-top: 30px;
  color: #fff;
}
h1{
  margin: auto;
}
.quote-box{
  display: inline-block;
  width: 30%;
  min-width: 450px;
  background-color: #fff;
  padding: 50px;
  border-radius: 3px;
  margin-top: 30%;
}
.quote-text{
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  font-family: 'Raleway';
}
.quote-author{
  text-align: right;
  margin-top: 20px;
}
.new-quote{
  background-color: rgb(44, 62, 80);
  float: right;
  height: 38px;
  border-radius: 3px;
  font-size: 13px;
  padding: 8px 18px;
  margin-top: 30px;
  color: #fff;
  font-weight: 500;
}
