.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  flex-direction: column;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 5px;
}
.form-field{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content:center;
}
button{
  margin-top: 10px;
}
label{
  margin-top: 5px;
  margin-bottom: 0px;

}
.forgot-password{
  font-size:12px;
  text-align: right;
}
form{
  display: flex;
  flex: 1;
  flex-direction: column;

}
.more-info{
  margin-left: 40px;
}
.sign-out{
  color: red;
}