.form{
    margin: 200px auto; 
    width: 270px;
}
.button{
    background-color: #008CBA;
    color: white;
    width: 270px;
    margin-top: 30px;
}
.inputLName{
    margin-top: 30px;
}
.inputEmail{
    margin-top: 30px;
}
.inputPass{
    margin-top: 30px;
}
.inputCPass{
    margin-top: 30px;
}
.link-sign-up{
    text-align: center;
    margin-top: 150px;
}